@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
}

/* HEADER */
header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: end;
    justify-items: center;
    flex-direction: column;
    z-index: 999;
    display: flex;
    padding: 10px;
    background-color: rgb(241, 228, 203);
    border-bottom: 1px solid black;
}


nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: 0.3s;
    padding-bottom: 5px;
    
    transform: ease;
}

nav a:hover {
    transition: 0.5s ease;
    color: #771a80;
}

main{
    display: grid;
    grid-template-columns: 1fr min(100vw, 1100px) 1fr;
    gap: 20px;
}

/* SECTIONS */
.sec {
    height: 100vh;
    text-align: center;
    padding:10px;
    background-color: white;
}

#welcome{
    grid-column: 1 ;
    background-color: #ffffff;

    width: 100vw;
    height: calc(100vh - 58px);
    display: grid;
    grid-template-columns: auto;
    align-content: space-evenly;

}


/* Flor canto superior esquerdo */
#flor1{
    position: absolute;
    top: 2%;
    left: 1%;
    width: 100px;
    transform: rotate( -130deg) ;
     opacity: 0.9;
}

/* Flor canto inferior direito */
#flor2{
   
    position: absolute;
    bottom: -1%;
    right: -3%;
    width: 100px;
    transform: rotate(40deg) scaleX(-1);
     opacity: 0.9;
}

#welcome h2{
    margin: auto;
    padding: 10px;

    width: 100%;
   
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.2em;
    
}

#welcome #img-inicio{
    padding: 10px;
    width: 450px;
    max-width: 60%;
    margin: auto;
    border-radius: 100px 0px ;

    border: 1px solid black;
}

#welcome p{
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
}

#welcome a{
    position: relative;
    display: inline-block;
    overflow: hidden;

    background-color: rgb(241, 224, 192);
    color: #000000;
    padding: 12px 28px;
    border-radius: 10px;

    margin: auto;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;

    z-index: 1;
    transition: color 0.4s ease;
}

/* Camada que nasce do centro */
#welcome a::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: #b8b8b8;
    transform: translate(-50%, -50%);
    border-radius: inherit;
    transition: width 0.6s ease, height 0.6s ease;
    z-index: -1;
}

#welcome a:hover{
    color: #000;
}

#welcome a:hover::before{
    width: 300%;
    height: 300%;
}

#sobre{
    grid-column: 1;
    background: #ff7700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobre-container{
    max-width: 1100px;
    display: grid;
    grid-template-columns:  1fr;
    align-items: center;
    padding: 40px 20px;
}

.sobre-container h1{
    font-size: 2.8em;
    margin-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.sobre-img img{
    width: 50%;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}



.sobre-texto p{
    font-size: 1.2em;
    margin-bottom: 15px;
    line-height: 1.6;
}

.sobre-diferenciais{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.card{
    background: #ffffff;
    padding: 5px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    transition: transform 0.3s ease;
}

.card:hover{
    transform: translateY(-5px);
}

.card h3{
    margin-bottom: 5px;
    font-size: 1.1em;
}


#trabalho {
    background: #01d6cc;
    grid-column: 1;
}

.conteudo {
    max-width: 700px;
    grid-column: 1;
}

.conteudo h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.conteudo p {
    font-size: 20px;
}

/* FOOTER */
footer {
    background: #c2185b;
    color: white;
    text-align: center;
    padding: 30px 20px;
}


